<h1>Solo un H1</h1>
<h2>Primer H2</h2>
<h2>Segundo H2</h2>
<h2>Tercer H2</h2>

<h3>Primer H3</h3>
<h3>Segundo H3</h3>
<h3>Tercer H3</h3>

<div>
  Esto es un contenedor
</div>

<br>
<header>
  Aqui el logo
  <br>
  Menun (tendremos el bocadillo - lista - del menu)
</header>

<br>

<footer>
  Aqui el contenido legal, informacion de app que no es relevante
  <br>
  Elemento: copyright y quien diseño la app o la version de la app
</footer>
<br>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cumque debitis dolorum eveniet ex hic molestias nihil officiis perferendis quas, quasi soluta sunt tempore. At doloremque ipsam maiores quisquam rem.
</p>

<br>
<p>
  <span style="font-weight: bold">Lorem ipsum</span>  dolor sit amet, <sup>consectetur</sup> adipisicing elit. Accusantium laboriosam minus molestias quia! <strong>Accusamus</strong> ad aut, consectetur eum inventore ipsam, iusto nam nulla praesentium quos suscipit, tempore! Delectus, maiores sapiente!
</p>

<br>

<main>
  <section>imagen ppal</section>
  <section>carrusel de imagenes</section>
  <section>Formulario contacto</section>
  <section>Formulario login</section>

</main>

<br>
<form method="post" action="" enctype="multipart/form-data">
  <div>
    <label for="username"></label>
    <input type="text" id="username" name="usuario" placeholder="Introduzca el usuario" value="Camilo" autocomplete="on" required>
  </div>
  <div>
    <label for="password"></label>
    <input type="text" id="password" name="password" placeholder="********" value="" autocomplete="on" required>
  </div>
  <div>
    <label for="rol"></label>
    <select id="rol" name="rol" required>
      <option value="estudiante" selected>Estudiante</option>
      <option value="Profesor">Profesor</option>
    </select>
  </div>

  <div>
    Selecciona el curso>
    <input type="radio" id="primerCurso" name="cursos"><label for="primerCurso">Primer curso</label>
    <input type="radio" id="segundoCurso" name="cursos" checked><label for="segundoCurso">Segundo curso</label>
  </div>


  <div>
    Asignaturas:
    <input type="checkbox" name="subjects" id="datos" checked required> <label for="datos">Acceso a datos</label>
    <input type="checkbox" name="subjects" id="interfaces" checked required> <label for="interfaces">Desarrollo de interfaces</label>
  </div>

  <div>
    <label for="message">Mensaje:</label>
    <textarea placeholder="Mensaje" id="message" required></textarea>
  </div>

  <div>
    <button type="submit">Enviar</button>
  </div>
</form>

<hr>

<ul>
  <li>Primer elemento</li>
  <li>Segundo elemento</li>
  <li>Tercer elemento</li>
</ul>

<ol class="margin-bottom">
  <li>Primer elemento</li>
  <li>Segundo elemento</li>
  <li>Tercer elemento</li>
</ol>

<div class="contenedor-100">
  <img src="https://api.wilier.com/media/344/e-bike.jpg" alt="">
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur atque corporis debitis delectus eaque excepturi ipsa ipsam ipsum iusto omnis quam, quidem quis reiciendis sit tempore vitae. Ducimus, quis?</p>
  </div>
</div>

<div class="social">

</div>

<div class="elementos-display">
  <p>lorem ipsum</p>
  <p>lorem ipsum</p>
  <p>lorem ipsum</p>
</div>

<div class="elementos-flex">
  <p class="primero-p">primer p</p>
  <p class="segundo-p">segundo p</p>
</div>
